body {
	width:400px;
	/*height:500px;*/
}
.container {
  width: 100%; 
}
.tabs .tab a {
  color: #ffffff;
}
.tabs .indicator {
    background-color: #ffffff;
}	
.tabs .tab a:hover {
    color: #1976d2; 
}
.collection .collection-item.avatar .secondary-content {
    top: 32px;
}
.secondary-content {
  color: #9e9e9e; 
}
.toast {
  font-size: 0.75rem;
}